<div class="row">

  <div class="col-lg-12 well user-info">
    <h2 class="user-h2"> Diet Tracker</h2>
    <h3 class="user-h3"> Name: <%= @user.name %> Email: <%= @user.email %></h3>
  </div>

</div><!-- end of row 1-->

<div class="row">
  <div class="col-lg-5 well food-info">
    <h2 class="foods-h3"> Foods</h2>
    <hr>
    <div class="foods-area" id="food">


     <ul class="food-list-div" id="food-table_<%= @user.id %>">
       <%= render :partial => "foods/food", :collection => @user.foods %>
     </ul>


  <% if (@user == current_user) || (current_user && current_user.admin?) %>
    <p class="btn btn-default add-food-btn"><%= link_to "Add Food", new_user_food_path(@user), id: "new_food_link", remote: true %></p>
  <% end %>

  </div><!--end of food-area-div -->
</div><!--end of food main div -->

  <div class="col-lg-2"></div>

  <div class="col-lg-5 well exercise-info">
    <h2 class="exercises-h3"> Exercises</h2>
    <hr>
    <div class="exercises-area">


     <ul class="exercise-list-div" id="exercise-table_<%= @user.id %>">
       <%= render :partial => "exercises/exercise", :collection => @user.exercises %>
     </ul>

    </div><!-- end of exercise list table div -->
    <% if (@user == current_user) || (current_user && current_user.admin?) %>
      <p class="btn btn-default add-exercise-btn"><%= link_to "Add Exercise", new_user_exercise_path(@user), id: "new_exercise_link", remote: true %></p>
    <% end %>
  </div><!-- end of main exercise div -->

</div><!-- end of row 2-->
